@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

/*
01.GENERALES
02.ESTILO DE TEXTO
03.COLORES
04.MENU
05.ELEMENTOS PARTICULARES
06.SECCIÓN EDITORIAL INTRO
07.GALERIA
08.SECCIÓN DESTACADOS
09. ARTICULO CORTO
10. ARTICULO CON FORMULARIO
11. PUBLICIDAD
12. ENTREVISTA
13. CONTACTO
14. FOOTER
15. BOTÓN IR ARRIBA
17. ARTICULO CON ENGRANAJES
18. TABLAS
++MEDIA QUERIES++
++019++ESTILOS TABLET/MÓVIL
*/

/*01-GENERALES*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Montserrat', 'sans-serif'
}

html {
    scroll-behavior: smooth;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: normal;
    font-size: 1rem;
}

.logocigna {
    margin-top: 12px;
}

ol, ul {
    margin-top: 5px;
    font-size: 1rem;
    list-style-position: outside;
    padding-left: 20px;
}

li {
    font-size: 1rem;
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.left {
    float: left;
}

.right {
    float: right;
}

/*02-ESTILO DE TEXTO*/
p.author {
    font-family: arial;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 0 20px 3px 20px;
}

p.job-title {
    font-family: arial;
    font-size: 12px;
    text-align: center;
    padding: 0 20px;
}

time {
    background-color: #b1b1b1;
    font-family: arial;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    display: inline-block;
    margin-bottom: 15px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    text-transform: uppercase;
    line-height: 100%;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    margin-bottom: 35px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16.5px;
    font-weight: bold;
    line-height: 140%;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: bold;
    padding: 30px 0 5px 0;
}

p {
    font-family: "Montserrat", sans-serif;
    line-height: 140%;
}

q {
    width: 60%;
    display: block;
    margin: 0 auto;
    font-family: arial;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding: 30px 0;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: inherit;
    line-height: 140%;
    font-weight: bold;
    text-decoration: none;
}

ul {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding-left: 12px;
    line-height: 140%;
    list-style-position: inside;
    margin-left: 14px;
    padding-left: 20px;
}

ul.circle {
    list-style-type: disc;
    padding-left: 32px;
}

ol {
    font-family: arial;
    font-size: 14px;
    padding-left: 16px;
    line-height: 140%;
}

ul.arrow-orange {
    list-style: none;
    list-style-image: url(../img/bullet-orange.png);
}

ul.arrow-blue {
    list-style: none;
    list-style-image: url(../img/bullet-blue.png);
}

ul.arrow-green {
    list-style: none;
    list-style-image: url(../img/bullet-green.png);
}

ul.arrow-white {
    list-style: none;
    list-style-image: url(../img/bullet-white.png);
}

p.legal {
    font-family: arial;
    font-size: 10.5px;
    color: #696969;

}

p strong {
    font-weight: bold;
}

sup {
    vertical-align: super;
    font-size: 13px;
}

/* FIN ESTILO DEL TEXTO */

/*03-COLORES*/

/*------------------------Colorear texto--------*/

.black {
    color: black;
}

.orangeLight {
    color: #F1B434;
}

.orangeMedium {
    color: #F68621;
}

.orangeDark {
    color: #E35205;
}

.blueLight {
    color: #00A9E0;
}

.blueMedium {
    color: #188CCC;
}

.blueDark {
    color: #004986;
}

.greenLight {
    color: #C4D600;
}

.greenMedium {
    color: #39B54A;
}

.greenDark {
    color: #007A3E;
}

.greyLight {
    color: #D9D9D6;
}

.greyMedium {
    color: #C8C9C7;
}

.greyDark {
    color: #58595B;
}

.white {
    color: #ffffff;
}

/*------------------------Colorear fondo---------*/

.orangeLight_bkg, .orangeLight_bkg:before {
    background-color: #F1B434;
}

.orangeMedium_bkg, .orangeMedium_bkg:before {
    background-color: #F68621;
}

.orangeDark_bkg, .orangeDark_bkg:before {
    background-color: #E35205;
}

.blueLight_bkg, .blueLight_bkg:before {
    background-color: #00A9E0;
}

.blueMedium_bkg, .blueMedium_bkg:before {
    background-color: #188CCC;
}

.blueDark_bkg, .blueDark_bkg:before {
    background-color: #004986;
}

.greenLight_bkg, .greenLight_bkg:before {
    background-color: #C4D600;
}

.greenMedium_bkg, .greenMedium_bkg:before {
    background-color: #39B54A;
}

.greenDark_bkg, .greenDark_bkg:before {
    background-color: #007A3E;
}

.greyLight_bkg, .greyLight_bkg:before {
    background-color: #f3f3f3;
}

.greyMedium_bkg, .greyMedium_bkg:before {
    background-color: #C8C9C7;
}

.greyDark_bkg, .greyDark_bkg:before {
    background-color: #58595B;
}

.white_bkg, .white_bkg:before {
    background-color: #FFFFFF;
}

body, html {
    max-width: 100vw;
    width: 100vw;
    overflow-x: hidden;
}

/* FIN COLORES */

/*04. MENU*/

/* --------- HEADER - LOGO + MENU DESPLEGABLE---------- */
header {
    position: fixed;
    width: 100%;
    max-width: 100vw;
    height: 100px;
    background-color: #FFF;
    padding: 0px 7% 0px 7%;
    -webkit-box-shadow: 0px 9px 48px 0px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 9px 48px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 9px 48px 0px rgba(0, 0, 0, 0.17);
    z-index: 99;
}

.logocigna {
    position: relative;
    left: 0px;
    width: 200px;
    height: 50px;
    display: inline-block;
}

.eslogan {
    position: relative;
    display: inline-block;
    float: right;
    /*    margin-right: 6%;*/
    color: #188CCC;
    font-size: 25px;
    font-family: Gotham, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    top: 25px;
    margin-right: 20px;
}

.eslogan sup {
    font-size: 10px;
}

.menu_icon {
    float: right;
    display: inline-block;
    cursor: pointer;
    margin: 10px 0 0 0;
}

.iconMenuBorder {
    border-style: solid;
    border-width: 4px;
    border-color: #FFF;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    padding: 6px 5px 10px 10px;
    -webkit-transition: .4s ease;
    -moz-animation: .4s ease;
    -ms-animation: .4s ease;
    -o-animation: .4s ease;
    transition: .4s ease;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: #188CCC;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    background-color: #188CCC;
    -webkit-transform: rotate(-45deg) translate(-10px, 6px);
    transform: rotate(-45deg) translate(-10px, 6px);
}

.change .iconMenuBorder {
    border-color: #188CCC;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: .8s ease;
    -moz-animation: .8s ease;
    -ms-animation: .8s ease;
    -o-animation: .8s ease;
    transition: .8s ease;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    background-color: #188CCC;
    -webkit-transform: rotate(45deg) translate(-8px, -4px);
    transform: rotate(45deg) translate(-8px, -4px);
}

.change .menuContainer {
    opacity: 1;
}

/* --------- HEADER - LOGO + MENU DESPLEGABLE----FIN--- */
/* --------- Menu Desplegable ------------------------- */
.menuContainer {
    position: absolute;
    display: none;
    top: 130px;
    right: 0;
    width: 450px;
    z-index: 99;
    -webkit-transition: .8s ease;
    -moz-animation: .8s ease;
    -ms-animation: .8s ease;
    -o-animation: .8s ease;
    transition: .8s ease;
}

.arrowMenu {
    position: absolute;
    display: none;
    top: 130px;
    right: 7.3%;

}

.menu {
    position: absolute;
    /*height: 340px;*/
    right: 0;
    top: 30px;
    background: rgba(0, 73, 134, 0.7);
    font-size: 18px;
    padding: 30px 130px 30px 80px;
}

.menu ul {
    font-size: 16px;
}

.menu a {
    color: #FFF;
    line-height: 150%;
    font-weight: 600;
}

.menu a:hover {
    color: #188ccc;
}

.menuContact {
    background: rgba(0, 73, 134, 1);
    padding: 20px 10% 20px 25%;
    width: 65%;
    margin: 20px 0 0px -19.5%;
    bottom: -70px;
    position: absolute;
}

.menuContact img {
    position: absolute;
    display: inline-block;
}

.menuContacText {
    color: #d9d9d6;
    font-size: 14px;
    margin: 1px 0 0 50px;
    font-family: Gotham, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.menuContacText span {
    color: #FFF;
    font-size: 14px;
}

/* --------- Menu Desplegable -------------------FIN--- */
/* --------- Portada - Image + Titulo ----------------- */
.portada {
    float: left;
    margin-top: 100px;
    width: 100vw;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url("../img/header_Oct19.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.portada img {
    width: 100%;
}

.portada > div:first-of-type {
    position: absolute;
    left: 0;
    width: 40%;
    height: auto;
    top: calc(100% - 106px);
}

.portada > div:first-of-type .portadaBar1 {
    position: relative;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background: rgba(57, 181, 74, 0.85);
    color: #FFF;
    padding: 30px 4% 30px 7%;
    font-size: 45px;
    width: 100%;
    height: 106px;
    left: 0;
    box-sizing: border-box;
}

.portada > div:first-of-type .portadaBar2 {
    position: relative;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 700;
    background: #C4D600;
    color: #FFF;
    padding: 3.5% 7% 3.5% 14%;;
    box-sizing: border-box;
    font-size: 30px;
    width: 100%;
    height: auto;
    left: 0;
    padding: 30px 4% 30px 7%;
}

/* --------- Portada - Image + Titulo -----------FIN--- */

/*05-ELEMENTOS PARTICULARES*/

/*Caja gris*/
.caja-gris {
    float: right;
    margin: 0 0 10px 30px;
    padding: 25px;
    padding-top: 0;
    background: #D9D9D6;
    width: 300px;
    box-sizing: border-box;
}

.caja-gris img {
    box-sizing: border-box;
    float: left;
}

.caja-gris img:first-child {
    width: 130px;
    padding: 20px;
    padding-left: 10px;
    margin-top: 10px;
}

.banderilla {
    width: 40px;
    padding-top: 0;
    position: relative;
    right: -80px;
    top: 0;
}

/*Caja con icono*/
.caja-con-icono {
    float: left;
    margin: 3em 0 1em;
    display: table;
}

.caja-con-icono img {
    float: left;
    width: 80px;
    height: auto;
    margin-right: 30px;
}

.caja-con-icono p {
    display: table-cell;
    vertical-align: bottom;
}

/*Tarjetas*/
.seccion-tarjetas {
    float: left;
    width: 100%;
    margin: 4em 0 1em;
}

.tarjeta-box {
    float: left;
    width: 33.1%;
    height: auto;
}

.tarjeta, .reverso {
    position: relative;
    z-index: 3;
    background: #004986;
    width: 80%;
    min-height: 300px;
    height: auto;
    border-radius: 20px;
    margin: 0 auto;
    cursor: pointer;
    transition-property: opacity;
    transition: all 0.4s ease-in-out;
}

.tarjeta img:first-child, .reverso img:first-child {
    width: 40%;
    margin-left: 30%;
    margin-top: 20px
}

.tarjeta img:last-child {
    position: relative;
    width: 10%;
    margin-left: 45%;
    bottom: 20px;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tarjeta:hover img:last-child {
    transform: rotate(180deg)
}

.tarjeta h2, .reverso h2 {
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 20px;
    text-transform: uppercase;
    color: white;
    font-size: 140%
}

/*Animación tarjeta*/

.reverso {
    background: #00A9E0;
    margin-top: -300px;
    z-index: 2;
    transform: scaleX(0);
    padding: 10px;
    box-sizing: border-box;
}

.ani-cerrando {
    transform: scaleX(0);
    z-index: 2
}

.ani-abriendo {
    transform: scaleX(1);
    z-index: 3
}

.reverso ul {
    width: 80%;
    margin: 0 auto;
    color: white;
    font-size: 14px;
}

.reverso ul li {
    padding-bottom: 10px
}

/*06.SECCIÓN EDITORIAL INTRO*/

.editorial-intro {
    float: left;
    width: 100%;
    padding: 4% 7% 3%;
    box-sizing: border-box;
}

.editorial-box {
    float: left;
    padding: 6% 4% 4%
}

.editorial-box img {
    float: left;
    width: 30%;
    margin: 0 3% 2% 0;
}

.editorial-text {
    box-sizing: border-box;
}

.editorial-text h3 {
    text-transform: uppercase;
    font-size: 170%;
    margin-bottom: 2%;
}

.editorial-text h3 span {
    text-transform: initial;
    color: #004986;
}

.editorial-text p {
    font-weight: 600;
}

.degradado, .degradado2 {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 100px;
    margin-top: -100px;
    /*border: 1px solid red;*/
}

.degradado {
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 19%, rgba(255, 255, 255, 1) 67%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 19%, rgba(255, 255, 255, 1) 67%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 19%, rgba(255, 255, 255, 1) 67%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
}

.degradado2 {
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(253, 253, 253, 0) 19%, rgba(247, 247, 247, 1) 67%, rgba(243, 243, 243, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(253, 253, 253, 0) 19%, rgba(247, 247, 247, 1) 67%, rgba(243, 243, 243, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(253, 253, 253, 0) 19%, rgba(247, 247, 247, 1) 67%, rgba(243, 243, 243, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#f3f3f3', GradientType=0); /* IE6-9 */
}

.container-100-buttom {
    /*border: 1px solid red;*/
    width: 100%;
    float: right;
}

.button-intro {
    float: right;
    margin-top: 30px;
    width: auto;
    height: 40px;
    padding: 8px 15px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    z-index: 4;
    /*transition: all 0.5s ease-out;*/
}

.button-blue {
    background: #188CCC;
}

.button-intro p {
    float: left;
    text-transform: uppercase;
    color: white;
    font-size: 17px;
    font-family: arial;
    font-weight: 500;
    letter-spacing: 0.6px;
    padding-top: 2px;
    margin-right: 0px;
    transition: all 0.5s ease-out;
}

.button-intro p:last-child {
    display: none;
}

buttom.button-intro p:first-child:after,
buttom.button-intro p:last-child:after {
    content: "";
    width: 25px;
    height: 25px;
    background: url(../img/arrow-circle.png) no-repeat;
    margin-left: 10px;
    float: right;
    margin-top: -2px;
    background-size: cover;
    transition: all 0.5s ease-out;
}

.button-intro:hover p:first-child:after,
.button-intro:hover p:last-child:after {
    margin-left: 20px;
    margin-right: -5px;
}

.button-intro p:last-child:after {
    transform: rotate(180deg);
}

.hide {
    display: none;
    box-sizing: border-box;
    opacity: 0;
    float: left;
    width: 100%;

}

/*07. GALERIA*/

.galeria {
    width: 100%;
    font-size: 0;
    margin-bottom: 30px;
}

.galeria figure {
    width: 33%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    cursor: pointer;
}

.galeria figure::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 100%;
    background-color: #000;
    opacity: .4;
    transition: all .4s ease-in-out;
}

.galeria figure:hover::before {
    opacity: 0;
}

.galeria figure img {
    position: absolute;
    z-index: -2;
    top: 0;
    width: 100%;
    background-position: center center;
    /*background-size: 150%;*/
}

/*lightbox*/

.gal {
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    /*display: flex;*/

    justify-content: center;
    align-items: center;
}

.gal > div:nth-child(2) {
    position: relative;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.gal__container {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;

    /*width: 80%;
    height: auto;
    overflow: hidden;*/
}

.gal__img {
    height: auto;
    width: 50%;
    background-size: cover;
    margin: 0 25%;
    float: none;
    /*  width: 70%;
      max-width: 600px;*/
}

.gal__text {
    color: white;
    font-size: 1.4em;
    font-family: Gotham, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    float: none;
    width: 50%;
    margin: 20px 25% 0 25%;
    text-align: right;
}

.gal__boton {
    width: 50px;
    height: 50px;
    background-image: url(../img/cerrar-cruz.png);
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
    position: absolute;
    right: 70px;
    top: 40px;
}

.gal__arrow__left, .gal__arrow__right {
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    background-image: url(../img/arrow-circle.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 5px;
    cursor: pointer;
    position: absolute;

}

.gal__arrow__left {
    left: 50px;
    transform: rotate(180deg)
}

.gal__arrow__right {;
    right: 50px;
}

/*FIN GALERIA*/

/*08-SECCIÓN DESTACADOS-
- ESTILOS ARTICULOS DESTACADOS -PATRI*/

.destacados {
    width: 100%;
    padding: 7%;
    box-sizing: border-box;
    position: relative;
}

.articulos-destacados {
    font-size: 0;
    width: 100%;
}

.contenedor-art {
    width: 32%;
    height: 350px;
    display: inline-block;
    margin-right: 2%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.contenedor-art:last-child {
    margin-right: 0;

}

.contenedor-art img {
    height: 100%;
    background-size: cover;
}

.contenedor-art-doble {
    width: 32%;
    height: 350px;
    display: inline-block;
    margin-right: 2%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.contenedor-art-doble:last-child {
    margin-right: 0;
}

.contenedor-art-peque {
    width: 100%;
    height: 47%;
    display: block;
    margin-bottom: 6%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.contenedor-art-peque:last-child {
    margin-bottom: 0;
}

.contenedor-art-peque img {
    width: 100%;
    background-size: cover;
}

.contenedor-art-peque .caja-color-texto-destacados h3 {
    font-size: 20px;
}

.contenedor-art-color {
    width: 32%;
    height: 350px;
    display: inline-block;
    margin-right: 2%;
    box-sizing: border-box;
    position: relative;
}

.caja-color-texto-destacados-100 {
    position: absolute;
    bottom: 0;
    height: 350px;
    box-sizing: border-box;
    border: 6px solid transparent;
    transition: all .2s ease-in-out;
}

.caja-color-texto-destacados-100-peque {
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 6px solid transparent;
    transition: all .2s ease-in-out;
}

.caja-color-texto-destacados-100:hover, .caja-color-texto-destacados-100-peque:hover {
    border: 6px solid rgba(256, 256, 256, .4);
}

.caja-color-texto-destacados-100-peque img {
    padding: 20px 30px 0 30px;
    width: 15%;
}

.contenedor-art-peque-color {
    display: block;
    margin-bottom: 6%;
    height: 47%;
}

.caja-color-texto-destacados-100-peque h3 {
    padding: 20px 30px 0 30px;
    font-size: 20px;
    color: #fff;
}

.caja-color-texto-destacados-100 h3 {
    color: #fff;
    padding: 20px 30px 0 30px;
    font-size: 24px;
}

.caja-color-texto-destacados-100 p {
    color: #fff;
    padding: 10px 30px 0 30px;
    font-size: 18px;
}

.caja-color-texto-destacados-100 img {
    padding: 20px 30px 0 30px;
    width: 35%;
}

caja-color-texto-destacados-100-peque {
    height: 47%;
}

.caja-color-texto-destacados {
    position: absolute;
    opacity: .9;
    height: 55%;
    width: 100%;
    bottom: 0;
    transition: all .5s ease-in-out;
}

.contenedor-art:hover .caja-color-texto-destacados {
    opacity: 1;
    height: 65%;
}

.caja-color-texto-destacados h3, .caja-color-plano-texto-destacados h3 {
    opacity: 1;
    color: #fff;
    padding: 20px 30px 0 30px;
    font-size: 24px;
}

.caja-color-texto-destacados p, .caja-color-plano-texto-destacados p {
    color: #fff;
    padding: 10px 30px 0 30px;
    font-size: 18px;
}

.resto-articulos {
    width: 100%;
    position: relative;
    display: inline-flex;
    margin-top: 20px;
    box-sizing: border-box;
}

.doscolumnas {
    width: calc(50% - 10px);
    float: left;
}

.doscolumnas:first-child {
    margin-right: 10px;
}

.doscolumnas:last-child {
    margin-left: 10px;
    -webkit-box-shadow: inset 0px 0px 0px 10px #FFF;
    -moz-box-shadow: inset 0px 0px 0px 10px #FFF;
    box-shadow: inset 0px 0px 0px 10px #FFF;
}

ul {
    padding-left: 0;
    list-style-position: outside;
}

.resto-articulos li {
    margin: 20px 0 20px;
    background-color: white;
    color: #000;
    position: relative;
    cursor: pointer;
    z-index: 0;
}

.resto-articulos li:first-child {
    margin-top: 0;
}

.resto-articulos li:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0.01);
    transform-origin: 0 50%;
    transition: transform .4s ease-in-out;
}

.resto-articulos li:hover, .resto-articulos li:active {
    color: #fff;
}

.resto-articulos li:hover:before {
    transform: scaleX(1);
}

.resto-articulos li h4 {
    padding: 10px 20px 0 20px;
    font-family: arial;
    font-weight: bold;
}

.resto-articulos li p {
    padding: 10px 20px 10px 20px;
    font-family: arial;
    line-height: 130%;
    font-weight: normal;
}

/* FIN ESTILOS ARTICULOS DESTACADOS -PATRI */

/*09- ARTICULO CORTO */

.short-article-one {
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-position: center center;
}

.short-container {
    width: 80%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    box-sizing: border-box;
    padding: 5% 7%;
    background: rgba(255, 255, 255, 0.9);
}

/* FIN ARTICULO CORTO */

/*10. ARTICULO CON FORMULARIO */

.form-article {
    width: 100%;
    box-sizing: border-box;
    padding: 7%;
    display: flex;
}

.form-article-left {
    width: 13%;
    margin-right: 4%;
    position: relative;
}

.form-article-right {
    width: 83%;
    position: relative;
}

.editor {
    width: 90%;
    border-radius: 50%;
    margin: 0 5% 20px;
}

form {
    width: 100%;
    position: relative;
}

.form-camp {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 25px;
}

.form-camp label {
    width: 100%;
    background: #004986;
    box-sizing: border-box;
    position: absolute;
    font-family: arial;
    font-size: 14px;
    padding: 16.5px 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .8px;
    color: #ffffff;
    transition: all .5s;
}

.form-camp input {
    width: 80%;
    background: #d7d7d7;
    box-sizing: border-box;
    border: none;
    font-family: arial;
    font-size: 14px;
    padding: 15px 20px;
    margin-left: 20%;
}

.form-camp input:focus {

    outline: none;
}

.form-camp:active {
    border: none;
}

.checkbox {
    width: 100%;
    text-align: center;
    font-family: arial;
    font-size: 13px;
    margin-top: 40px;
}

.submit-button {
    width: 100%;
    position: relative;

}

.submit-button input {
    position: relative;
    box-sizing: border-box;
    background-color: white;
    margin-top: 40px;
    font-family: arial;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px 25px;
    border: 1px solid #004986;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transition: .2s ease-in-out;
    cursor: pointer;
}

.submit-button input:hover {
    background-color: #F68621;
    border: 1px solid #f68621;
    color: #ffffff;
}

/* FIN ARTICULO CON FORMULARIO */

/*11. PUBLICIDAD */
.publ-plain {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 7%;
}

.publ-icon {
    width: 13%;
    display: inline-block;
    box-sizing: border-box;
    float: left;
    margin-right: 4%;
}

.publ-text {
    width: 83%;
    display: inline-block;
    box-sizing: border-box;
}

button {
    font-family: arial;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.4px;
    margin-top: 40px;
    border: 0;
    padding: 5px 30px;
}

.publ-image {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    background-image: url(../img/image-publi.png);
    background-size: cover;
    background-position: center;
    padding: 7%;
}

/* FIN PUBLICIDAD */

/*12-ENTREVISTA*/

.interview {
    width: 100%;
    box-sizing: border-box;
    padding: 7%;
    float: left;
}

.interview-header {
    width: 100%;
    display: inline-flex;
}

.interview-left {
    width: 13%;
    margin-right: 4%;
    position: relative;
}

.interview-right {
    width: 83%;
    position: relative;
}

/* Cajita Cigna y foto */
.interview-two-intro {
    position: relative;
    width: 100%;
    display: inline-flex;
    margin: 20px 0 50px 0;
}

.interview-two-intro-cigna {
    width: 30%;
    margin-right: 5%;
    position: relative;
}

.interview-two-intro-content-one {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.interview-two-intro-content-two {
    position: absolute;
    bottom: 0;
}

.interview-picture {
    width: 20%;
    margin-right: 20px;
}

.interview-two-intro-person {
    width: 65%;
    display: inline-flex;
}

.interview-person {
    width: 100%;
    border-radius: 50%;
}

.interview-two-intro-person-text {
    width: 80%;
}

p.interview-name {
    font-family: arial;
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    bottom: 0;
}

p.interview-subtitle {
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 5px;
    color: #939393;
}

/* Fin Cajita Cigna y foto */

.interview-fila {
    width: 100%;
    position: relative;
    display: inline-flex;
    margin-bottom: 30px;
    opacity: 0;
}

.filaFadeIn {
    -moz-animation: slideIn 1s ease 0.3s forwards;
    -ms-animation: slideIn 1s ease 0.3s forwards;
    -webkit-animation: slideIn 1s ease 0.3s forwards;
    animation: slideIn 1.25s ease 0.3s forwards;
}

@-webkit-keyframes slideIn {
    0% {
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -webkit-transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -webkit-transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

.interview-container-question {
    width: 30%;
    margin-right: 5%;
}

.interview-question {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    margin-right: 5%;
    border-radius: 8px 8px 8px 0;
    -webkit-border-radius: 8px 8px 8px 0;
    -moz-border-radius: 8px 8px 8px 0;
    -ms-border-radius: 8px 8px 8px 0;
    -khtml-border-radius: 8px 8px 8px 0;
}

.interview-triangle-question {
    width: 0;
    height: 0;
    border-right: 11px solid transparent;
    border-top: 7px solid #188CCC;
    border-left: 11px solid #188CCC;
    border-bottom: 7px solid transparent;
}

p.question {
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
}

.interview-container-answer {
    width: 65%;
}

.interview-answer, .interview-answer-photo {
    width: 100%;
    background: #f3f3f3;
    box-sizing: border-box;
    padding: 15px 20px;
    margin-right: 5%;
    border-radius: 8px 8px 0 8px;
    -webkit-border-radius: 8px 8px 0 8px;
    -moz-border-radius: 8px 8px 0 8px;
    -ms-border-radius: 8px 8px 0 8px;
    -khtml-border-radius: 8px 8px 0 8px;
}

p.interview-answer-name {
    width: 100%;
    padding-bottom: 4px;
    font-weight: bold;
}

/*Respuestas con foto*/
.interview-answer-photo {
    display: inline-flex;
}

.interview-answer-photo-text {
    width: 75%;
    position: relative;
    margin-right: 5%;
}

.interview-answer-photo-image {
    width: 20%;
    position: relative;
}

.interview-answer-photo-image img {
    width: 100%;
    cursor: pointer;
}

/* Fin Respuestas con foto*/

.interview-triangle-answer {
    width: 0;
    height: 0;
    position: relative;
    float: right;
    border-right: 11px solid #f3f3f3;
    border-top: 7px solid #f3f3f3;
    border-left: 7px solid transparent;
    border-bottom: 11px solid transparent;
}

button.interview-two {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    font-family: arial;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.4px;
    margin-top: 40px;
    border: 0;
    padding: 5px 30px;
    text-transform: uppercase;
}

/*lightbox*/

.modal {
    position: fixed;
    z-index: 9000;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__img {
    max-height: 90%;
    width: auto;
    /*  width: 70%;
      max-width: 600px;*/
}

.modal__boton {
    width: 50px;
    height: 50px;
    background-image: url(../img/cerrar-cruz.png);
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
    position: absolute;
    right: 70px;
    top: 70px;
}

/* FIN ENTREVISTA */

/*13. CONTACTO */
.contact {
    width: 100%;
    height: 900px;
    background-image: url(../img/image-contact.png);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    padding: 7%;
}

.cont-container {
    width: 75%;
    background: rgba (255, 255, 255, 0.9);
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
}

.cont-topbar {
    width: 100%;
    background: rgba(24, 140, 204, 0.9);
    box-sizing: border-box;
    padding: 5% 10%;
}

.cont-icon {
    width: 10%;
    display: inline-block;
    box-sizing: border-box;
    float: left;
    margin-right: 5%;
    top: 0;
}

.cont-icon-world {
    width: 70px;
    height: 70px;

}

.cont-icon-envelope {
    width: 60px;
    height: 60px;

}

.cont-text {
    width: 85%;
    display: inline-block;
    box-sizing: border-box;
    bottom: 0;
}

.cont-text h2 {
    padding-bottom: 0;
    margin-bottom: 0;
}

select {
    width: 100%;
    border: none;
    display: inline-block;
    font-family: arial;
    font-size: 15px;
    line-height: 150%;
    margin-top: 30px;
    padding: 0.5em 1em;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: 97%;
}

.cont-bottombar {
    width: 100%;
    background: rgba(0, 73, 134, 0.9);
    box-sizing: border-box;
    padding: 5% 10%;
}

.cont-box {
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
    padding: 15px 20px;
    display: none;
}

.cont-name-country {
    width: 100%;
    margin: 0px 0 10px 0;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.cont-information-country {
    width: 100%;
    display: flex;
}

.cont-information-address {
    width: 40%;
    margin-right: 10%;
    font-family: arial;
    font-size: 14px;
    line-height: 130%;
}

.cont-information-country-right {
    width: 51%;
}

.cont-country-email {
    font-family: arial;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 5px;
}

p.bold {
    font-weight: bold;
}

p.email a {
    color: #000000;
    text-decoration: none;
    font-weight: normal;
}

.cont-country-web {
    width: 100%;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 130%;
    padding-top: 15px;
}

/*14. SECCIÓN FOOTER */

footer {
    box-sizing: border-box;
    position: relative;
}

.links {
    width: 100%;
    display: inline-block;
    position: relative;
}

.numeros-previos {
    width: 50%;
    float: left;
    padding-right: 15px;
    box-sizing: border-box;
}

.numeros-previos ul {
    column-count: 2;
}

.links-externos ul {
    column-count: 3;
}

.numeros-previos a, .links-externos a, .direccion a {
    color: #fff;
    font-weight: normal;
}

.numeros-previos a:hover, .links-externos a:hover, .direccion a:hover {
    color: #F1B434;
}

.links-externos {
    width: 50%;
    float: right;
    padding-left: 15px;
    box-sizing: border-box;
}

.numeros-previos h4, .links-externos h4 {
    width: 100%;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

hr {
    margin: 20px 0;
}

.datos-cigna {
    width: 100%;
    display: inline-block;
    position: relative;
    font-size: 0;
}

.datos-cigna {
    color: #fff;
}

.datos-cigna div {
    display: inline-block;
    vertical-align: text-top;
}

.datos-cigna div:nth-child(1) {
    width: 20%;
}

.datos-cigna div:nth-child(2) {
    width: 50%;
}

.datos-cigna div:nth-child(3) {
    width: 30%;
}

.redes ul {
    width: 100%;
    column-count: 2;
    column-gap: 50px;
    box-sizing: border-box;
    font-size: 0;
}

.redes ul li {
    padding: 0 20px 30px 0;
    width: 100%;
}

.redes img {
    width: 25px;
    height: 25px;
    background-color: #fff;
    display: inline-block;
}

.redes p {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    vertical-align: text-bottom;
    padding-left: 10px;;
}

.redes a {
    color: #fff;
    display: inline-block;
    width: 100%;
}

/* FIN SECCIÓN FOOTER */

/*15. BOTÓN IR ARRIBA */

.boton-top {
    position: fixed;
    width: 40px;
    height: 40px;
    z-index: 100;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
    display: none;
}

.boton-top img {
    position: relative;
    transition: all 0.3s ease-in-out;
    bottom: 0;
}

.boton-top img:hover {
    bottom: 10px;
}

/* FIN BOTÓN IR ARRIBA */

/*17. ARTICULO CON ENGRANAJES */

#gear-article {
    width: 100%;
    float: left;
    display: block;
}

.gear-article-left {
    float: left;
    width: 60%;
    box-sizing: border-box;
    display: table;
    /*position: relative;*/
}

.gear-article-right {
    float: left;
    width: 40%;
    box-sizing: border-box;
    display: table;

}

.animation-box {
    display: table;
    margin: 0 auto;
}

.gear-box {
    border: 1px solid transparent;
    width: 220px;
}

.gear-box img {
    position: absolute;
    width: 220px;

}

.gear-box img:first-child {
    z-index: 5;
    /*    animation: rotar linear infinite 30s;*/
}

.gear-box:nth-child(2) {
    margin-top: 200px;
    margin-left: 96px;

}

/*.gear-box:nth-child(2) img:first-child{animation: rotar linear reverse infinite 30s;}*/
.gear-box:nth-child(3) {
    margin-top: 200px;
    margin-left: 3px;
}

/*@keyframes rotar{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}*/

/* FIN ARTICULO CON ENGRANAJES */

/* 18. TABLAS*/

table, table.rwd_auto {
    width: 80%;
    margin: 30px auto 0;
    font-family: arial;
    font-size: 14px;
    line-height: 180%;
    text-align: left;
}

thead {
    font-weight: bold;
}

td:first-child {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #C8C9C7;
}

th, .rwd_auto th, td {
    padding: 10px;
}

td, .rwd_auto td {
    border-bottom: 1px solid #ccc;
}

tr:last-child td, .rwd_auto tr:last-child td {
    border-bottom: 1px solid #ccc;
}

.rwd {
    width: 100%;
    overflow: auto;
}

.rwd table.rwd_auto {
    width: auto;
    min-width: 100%;
}

.rwd_auto th, .rwd_auto td {
    white-space: nowrap;
}

.art-table tbody tr {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    opacity: 0;
}

/* FIN TABLAS*/

/************************************************************************************
++019++ESTILOS TABLET/MÓVIL
*************************************************************************************/

/*MIN 768 - MAX 1400*/
@media (min-width: 768px) and (max-width: 1400px) {

    /*DESTACADOS*/
    .doscolumnas {
        display: block;
    }

    .caja-color-texto-destacados h3 {
        font-size: 20px;
    }

    .caja-color-texto-destacados p {
        font-size: 15px;
    }

    /*FIN DESTACADOS*/
    /*TARJETAS*/
    .tarjeta, .reverso {
        width: 95%;
    }

    /*fin TARJETAS*/
    /*ENGRANAJES*/
    .gear-article-right {
        display: inline;
        margin-left: 5%;
        width: 35%
    }

    .animation-box {
        float: left;
        width: 100%;
        display: inline;
    }

    .gear-box {
        height: auto;
        width: 20%;
        position: absolute;
    }

    .gear-box img {
        width: 100%;
    }

    .gear-box:nth-child(2) {
        margin-top: 16.5%;
        margin-left: 11.5%;
    }

    .gear-box:nth-child(3) {
        margin-top: 33%;
        margin-left: 0%;
    }

    /*fin ENGRANAJES*/

}

/************************************************************************************
GALERÍA MÓVIL
*************************************************************************************/

@media (min-width: 0px) and (max-width: 480px) {

    /*GALERIA*/
    .galeria figure {
        width: 50%;
    }

    /*lightbox*/
    .gal__container {
        width: 100%;
        height: auto;
        overflow: hidden;
        top: 50%;
    }

    .gal__img {
        height: auto;
        width: 80%;
        background-size: cover;
        margin: 0 10%;
        float: none;
    }

    .gal__text {
        font-size: 16px;
        float: none;
        width: 90%;
        margin: 15px 5%;
        text-align: center;
    }

    .gal__boton {
        right: 30px;
        top: 30px;
    }

    .gal__arrow__right, .gal__arrow__left {
        width: 30px;
        height: 30px;
        background-position: 0;
        background-size: 30px;
        margin-top: -15px;
    }

    .gal__arrow__left {
        left: 7px;
        transform: rotate(180deg)
    }

    .gal__arrow__right {
        right: 7px;
    }

    /*FIN GALERIA*/

}

/************************************************************************************
FIN GALERIA MÓVIL
*************************************************************************************/

/************************************************************************************
GALERIA TABLET
*************************************************************************************/
@media (min-width: 480px) and (max-width: 768px) {

    /*GALERIA*/
    .galeria figure {
        width: 50%;
    }

    /*lightbox*/
    .gal__container {
        width: 100%;
        height: auto;
        overflow: hidden;
        top: 50%;
    }

    .gal__img {
        height: auto;
        width: 80%;
        background-size: cover;
        margin: 0 10%;
        float: none;
    }

    .gal__text {
        font-size: 16px;
        float: none;
        width: 90%;
        margin: 15px 5%;
        text-align: right;
    }

    .gal__boton {
        right: 40px;
        top: 40px;
    }

    .gal__arrow__right, .gal__arrow__left {
        width: 40px;
        height: 40px;
        background-position: 0;
        background-size: 30px;
        margin-top: -20px;
    }

    .gal__arrow__left {
        left: 20px;
        transform: rotate(180deg)
    }

    .gal__arrow__right {
        right: 20px;
    }

}

/************************************************************************************
FIN GALERIA TABLET
*************************************************************************************/

/*MAX 768*/
@media (min-width: 0px) and (max-width: 768px) {

    /*ESTILO DE TEXTO*/
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 15.5px;
    }

    p {
        font-family: arial;
        font-size: 14px;
        line-height: 140%;
    }

    /*FIN ESTILO DE TEXTO*/
    /*ELEMENTOS PARTICULAR*/
    .caja-gris {

        margin: 20px 0;
        float: none;

    }

    /*ELEMENTOS PARTICULAR*/
    /*MENU*/
    .logocigna {
        margin-top 12px;

        width: auto;
        height: 40px;
        top: -15px;
    }

    .eslogan {
        display: none;
    }

    .logocigna {
        position: relative;
        left: 0px;
        width: 200px;
        height: 50px;
        display: inline-block;
    }

    /*FIN MENU*/
    /*PORTADA*/
    .portada {
        position: relative;
    }

    .portada > div:first-of-type {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        height: auto;
    }

    /*.portada > div:first-of-type .portadaBar1 {*/
    /*position: relative;*/
    /*font-family: 'Montserrat', Arial, Helvetica, sans-serif;*/
    /*text-transform: uppercase;*/
    /*font-weight: 700;*/
    /*background: rgba(0, 73, 134, 0.85);*/
    /*color: #FFF;*/
    /*font-size: 34px;*/
    /*width: 100%;*/
    /*height: auto;*/
    /*left: 0;*/
    /*padding: 5% 7%;*/
    /*box-sizing: border-box;*/
    /*}*/
    /*.portada > div:first-of-type .portadaBar2 {*/
    /*position: relative;*/
    /*font-family: 'Montserrat', Arial, Helvetica, sans-serif;*/
    /*text-transform: uppercase;*/
    /*font-weight: 700;*/
    /*background: rgba(24, 140, 204, 0.85);*/
    /*color: #FFF;*/
    /*padding: 3.5% 7%;*/
    /*box-sizing: border-box;*/
    /*font-size: 24px;*/
    /*width: 100%;*/
    /*height: auto;*/
    /*left: 0;*/
    /*}*/
    /*FIN PORTADA*/
    /*EDITORIAL INTRO*/
    .editorial-intro {
        padding: 7%;
    }

    .editorial-box {
        padding: 6%;
    }

    .editorial-box img {
        width: 100%;
        margin: 0 0 20px 0;
    }

    /*FIN EDITORIAL INTRO*/
    /*DESTACADOS*/
    .doscolumnas {
        display: block;
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .contenedor-art {
        width: 100%;
        height: 200px;
        margin-bottom: 15px;
    }

    .contenedor-art:last-child {
        margin-bottom: 0px;
    }

    .contenedor-art:hover .caja-color-texto-destacados {
        width: 65%;
        height: 100%
    }

    .contenedor-art img {
        width: 100%;
        height: auto;
    }

    .caja-color-texto-destacados {
        width: 55%;
        height: 100%;
        top: 0;
        right: 0;
    }

    .contenedor-art:nth-child(2) .caja-color-texto-destacados {
        left: 0;
    }

    .caja-color-texto-destacados h3, .caja-color-texto-destacados p {
        padding: 10px 15px;
    }

    .caja-color-texto-destacados h3 {
        font-size: 15px;
    }

    .caja-color-texto-destacados p {
        font-size: 14px;
    }

    .resto-articulos {
        margin-top: 0;
    }

    /*FIN DESTACADOS*/
    /*SHORT ARTICLE ONE*/
    .form-article {
        width: 100%;
    }

    .short-article-one {
        background: none;
        height: auto;
    }

    .short-article-img-mobile {
        width: 100%;
        height: 400px;
        background-size: cover;

    }

    .short-container {
        background: #f3f3f3;
        width: 100%;
        top: 0;
        transform: translateY(0);
        height: auto;
    }

    /*FIN SHORT ARTICLE ONE*/
    /* ARTICULO CON TARJETAS*/
    /* display: table; */
    .tarjeta-box {
        width: 100%;
        margin-bottom: 20px
    }

    .tarjeta, .reverso {
        width: 80%;
    }

    .tarjeta img:first-child {
        width: 30%;
        margin-left: 35%
    }

    /*fin ARTICULO CON TARJETAS*/
    /*ARTICULO CON ENGRANAJE*/
    .caja-con-icono {
        float: none;
        width: 100%;
        display: block;
        position: relative;
        margin: 30px 0 20px 0;
    }

    .caja-con-icono img {
        float: none;
        width: 15%;
        margin: 20px 80% 10px 0;
        height: auto;
    }

    /*FIN ARTICULO CON ENGRANAJE*/
    /*PUBLICIDAD FONDO PLANO*/
    .publ-icon {
        width: 100%;
        margin-right: 0%;
    }

    .publ-icon svg {
        width: 25%;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .publ-text {
        width: 100%;
    }

    /*fin PUBLICIDAD FONDO PLANO*/
    /*FORMULARIO*/
    .form-article {
        width: 100%;
        flex-direction: column;
    }

    .form-article-left {
        width: 100%;
        margin-right: 0;
        display: block;
    }

    .form-article-right {
        width: 100%;
    }

    .editor {
        width: 30%;
        border-radius: 50%;
        margin: 0 70% 20px 0;
    }

    p.author {
        text-align: right;
        width: 100%;
        font-size: 15px;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    p.job-title {
        width: 100%;
        font-family: arial;
        font-size: 12px;
        text-align: left;
        padding: 0;
        margin-bottom: 20px;
    }

    .form-camp label {
        display: inline-block;
        width: 100%;
        height: 46px;
        background: transparent;
        box-sizing: border-box;
        position: relative;
        font-family: arial;
        font-size: 14px;
        padding: 16px 10px 16px 0;
        text-transform: uppercase;
        text-align: left;
        font-weight: 600;
        letter-spacing: .8px;
        color: #004986;
        transition: all .5s;
        vertical-align: center;
    }

    .form-camp input {
        width: 100%;
        height: 36px;
        background: #fff;
        border-bottom: 1.5px solid #188ccc;
        box-sizing: border-box;
        font-family: arial;
        font-size: 13px;
        padding: 0px;
        margin-left: 0%;
    }

    /*FIN FORMULARIO*/
    /*ENGRANAJES*/
    .degradado2 {
        opacity: 0;
    }

    .gear-article-left, .gear-article-right {
        width: 100%;
    }

    .gear-article-right {
        margin-top: 20px;
        display: inline;
        position: relative;
        padding-bottom: 48%;
    }

    .animation-box {
        float: left;
        margin-left: 6%;
    }

    .gear-box {
        height: auto;
        width: 30%;
        position: absolute;
    }

    .gear-box img {
        width: 100%;
    }

    .gear-box:nth-child(2) {
        margin-top: 16.5%;
        margin-left: 24.5%;
    }

    .gear-box:nth-child(3) {
        margin-top: 0%;
        margin-left: 50%;
    }

    /*FIN ENGRANAJES*/
    /*ENTREVISTA*/
    .interview {
        width: 100%;
        box-sizing: border-box;
        padding: 7%;
        float: left;
    }

    .interview-header {
        width: 100%;
        display: block;
    }

    .interview-left {
        width: 100%;
        margin-right: 0%;
        position: relative;
    }

    .interview-left svg {
        width: 30%;
        margin-bottom: 15px;
    }

    .interview-right {
        width: 100%;
        position: relative;
    }

    .interview-two-intro {
        width: 100%;
        height: auto;
        display: block;
    }

    .interview-two-intro-cigna {
        width: 100%;
        margin-right: 0%;
        position: relative;
    }

    .interview-two-intro-content-one {
        position: relative;
        margin-bottom: 10px;
    }

    .interview-two-intro-content-two {
        position: relative;
        margin: 0px;
        width: 100%;
    }

    .interview-picture {
        width: 35%;
        margin: 0 20px 0 0;
    }

    .interview-two-intro-person {
        width: 100%;
        display: inline-flex;
        position: relative;
    }

    p.interview-name {
        font-family: arial;
        font-size: 32px;
        line-height: 120%;
        font-weight: bold;
        text-align: left;
        bottom: 0;
    }

    p.interview-subtitle {
        font-family: arial;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        padding-bottom: 5px;
        color: #939393;
    }

    /*preguntas y respuestas*/
    .interview-fila {
        display: block;
    }

    .interview-container-question {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .interview-container-answer {
        width: 100%;
        margin-bottom: 20px;
    }

    /*Respuestas con foto*/
    .interview-answer-photo {
        display: inline-block;
    }

    .interview-answer-photo-text {
        width: 100%;
        position: relative;
        margin-right: 0%;
    }

    .interview-answer-photo-image {
        width: 40%;
        position: relative;
        margin: 0 auto;
    }

    .interview-answer-photo-image img {
        margin-top: 20px;
        width: 100%;
        cursor: pointer;
    }

    /*lightbox*/
    .modal {
        position: fixed;
        z-index: 9000;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        top: 0px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal__img {
        height: auto;
        width: 70%;
        background-size: cover;
        margin: 0 auto;
        float: left;
    }

    .modal__boton {
        width: 50px;
        height: 50px;
        background-image: url(../img/cerrar-cruz.png);
        background-repeat: no-repeat;
        background-size: 50px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    /*FIN ENTREVISTA*/
    /*TABLA*/
    table {
        width: 100%;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tbody tr td:first-child {
        background: #c8c9c7;
    }

    tbody tr:nth-child(2n) td:first-child {
        background: #b0b0b0;
    }

    tbody tr:nth-child(2n) td {
        border-bottom: 1px solid #e9e9e9;
        background: #d9d9d9
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #ccc;
        position: relative;
        padding-left: 50%;
        text-align: left
    }

    td:before {
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before {
        content: "";
    }

    td:nth-of-type(2):before {
        content: "December 2017";
    }

    td:nth-of-type(3):before {
        content: "September 2018";
    }

    .descarto {
        display: none;
    }

    .fontsize {
        font-size: 10px
    }

    /*FIN TABLA*/
    /*CONTACTO*/
    .contact {
        height: 650px;
    }

    .cont-container {
        width: 100%;
        float: left;
        /*top: 0%;*/
    }

    .cont-icon svg {
        width: 100%;
    }

    .cont-icon {
        width: 20%
    }

    .cont-text {
        width: 75%;
    }

    .cont-topbar {
        float: left;
        height: auto;
    }

    .cont-bottombar {
        float: left;
    }

    .cont-box {
        float: left;
        width: 100%;
        height: auto;
    }

    .cont-box div {
        display: inline;
        float: left;
    }

    .cont-box div > div {
        width: 100%;
        display: inline;
        float: left;
        flex: auto;
        margin-bottom: 5px;
    }

    a.cont-country-web {
        float: left;
        width: 100%;
        text-align: center;
    }

    /*FIN CONTACTO*/
    /*FOOTER*/
    footer ul {
        margin-left: 0;
    }

    .links div {
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding-bottom: 30px;
    }

    .links div:not(:first-child) {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .links div:last-child {
        border-bottom: none;
    }

    .links div h4 {
        text-align: left;
    }

    .links-externos {
        padding-left: 0;
    }

    .links-externos ul {
        column-count: 2;
    }

    .datos-cigna div:nth-child(1) {
        width: 60%;
    }

    .datos-cigna div:nth-child(1) img {
        background-size: cover;
        width: 60%;
    }

    .datos-cigna div:nth-child(2) {
        width: 100%;
        padding-top: 20px;
    }

    .datos-cigna div:nth-child(3) {
        width: 100%;
        float: left;
    }

    .datos-cigna div:nth-child(3) ul {
        column-count: 1;
        border-top: 1px solid #ccc;
        padding-top: 20px;
        margin-top: 20px;
    }

    .datos-cigna div:nth-child(3) ul a {
        width: 25%;
    }

    .datos-cigna div:nth-child(3) ul a img {
        height: auto;
        margin-left: 25%;
    }

    .datos-cigna div:nth-child(3) ul a p {
        display: none;
    }

    /*fin FOOTER*/
}

/*pvb added button-intro2 to all classes*/
.button-intro,
.button-intro2,
.button-intro3,
.button-intro4,
.button-intro5,
.button-intro6,
.button-intro7 {
    float: right;
    margin-top: 30px;
    width: auto;
    height: 40px;
    padding: 8px 15px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    z-index: 4;
    /*transition: all 0.5s ease-out;*/
}

.button-blue {
    background: #188CCC;
}

.button-intro p,
.button-intro2 p,
.button-intro3 p,
.button-intro4 p,
.button-intro5 p,
.button-intro6 p,
.button-intro7 p {
    float: left;
    text-transform: uppercase;
    color: white;
    font-size: 17px;
    font-family: arial;
    font-weight: 500;
    letter-spacing: 0.6px;
    padding-top: 2px;
    margin-right: 0px;
    transition: all 0.5s ease-out;
}

.button-intro p:last-child,
.button-intro2 p:last-child,
.button-intro3 p:last-child,
.button-intro4 p:last-child,
.button-intro5 p:last-child,
.button-intro6 p:last-child,
.button-intro7 p:last-child {
    display: none;
}

buttom.button-intro p:first-child:after,
buttom.button-intro p:last-child:after,
buttom.button-intro2 p:first-child:after,
buttom.button-intro2 p:last-child:after,
buttom.button-intro3 p:first-child:after,
buttom.button-intro3 p:last-child:after,
buttom.button-intro4 p:first-child:after,
buttom.button-intro4 p:last-child:after,
buttom.button-intro5 p:first-child:after,
buttom.button-intro5 p:last-child:after,
buttom.button-intro6 p:first-child:after,
buttom.button-intro6 p:last-child:after,
buttom.button-intro7 p:first-child:after,
buttom.button-intro7 p:last-child:after,
{
    content: "";
    width: 25px;
    height: 25px;
    background: url(../img/arrow-circle.png) no-repeat;
    margin-left: 10px;
    float: right;
    margin-top: -2px;
    background-size: cover;
    transition: all 0.5s ease-out;
}

.button-intro:hover p:first-child:after,
.button-intro:hover p:last-child:after,
.button-intro2:hover p:first-child:after,
.button-intro2:hover p:last-child:after,
.button-intro3:hover p:first-child:after,
.button-intro3:hover p:last-child:after,
.button-intro4:hover p:first-child:after,
.button-intro4:hover p:last-child:after,
.button-intro5:hover p:first-child:after,
.button-intro5:hover p:last-child:after,
.button-intro6:hover p:first-child:after,
.button-intro6:hover p:last-child:after,
.button-intro7:hover p:first-child:after,
.button-intro7:hover p:last-child:after {
    margin-left: 20px;
    margin-right: -5px;
}

.button-intro p:last-child:after,
.button-intro2 p:last-child:after,
.button-intro3 p:last-child:after,
.button-intro4 p:last-child:after,
.button-intro5 p:last-child:after,
.button-intro6 p:last-child:after,
.button-intro7 p:last-child:after {
    transform: rotate(180deg);
}

.hide, .hide2, .hide3, .hide4, .hide5, .hide6, .hide7 {
    display: none;
    box-sizing: border-box;
    opacity: 0;
    float: left;
    width: 100%;

}

a.orangeLight {
    color: #F1B434 !important;
}

a.orangeLight:hover {
    color: #F68621 !important;
}

.font-weight-light {
    font-weight: 100;
}

.font-weight-normal {
    font-weight: 400;
}

.hero-section {
    position: relative;
    display: inline-block;
}



.font-weight-bold {
    font-weight: bold;
}

h2 {
    font-size: 40px;
    margin-bottom: 0;
    line-height: normal;
}

h3 {
    font-size: 25px;
    margin-bottom: 0;
    line-height: normal;
}

h4 {
    padding: 0
}

button {
    font-weight: normal;
    padding: 10px 15px;
    letter-spacing: normal;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
    height: 0;
}

.read-more-section {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.4s linear, opacity 0.4s linear;
    -moz-transition: max-height 0.4s linear, opacity 0.4s linear;
    -ms-transition: max-height 0.4s linear, opacity 0.4s linear;
    -o-transition: max-height 0.4s linear, opacity 0.4s linear;
    transition: max-height 0.4s linear, opacity 0.4s linear;
}

.read-more-article.expanded .read-more-section {
    height: auto;
    overflow: visible;
    max-height: 3000px;
    opacity: 1;
    -webkit-transition: max-height 0.4s linear, opacity 0.4s linear;
    -moz-transition: max-height 0.4s linear, opacity 0.4s linear;
    -ms-transition: max-height 0.4s linear, opacity 0.4s linear;
    -o-transition: max-height 0.4s linear, opacity 0.4s linear;
    transition: max-height 0.4s linear, opacity 0.4s linear;
}

.read-more-article.expanded button.read-more {
    font-size: 0;
}

.read-more-article.expanded button.read-more .hidden {
    font-size: 16px;
    opacity: 1;
    visibility: visible;
    display: block;
    height: auto;
}

.read-more-article {
    margin-top: 70px;
    margin-bottom: 70px;
}

.read-more-article.greyLight_bkg {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
}

.read-more-article.greyLight_bkg:after {
    background: #f3f3f3;
    content: ' ';
    position: absolute;
    width: 100vw;
    left: 50%;
    -webkit-transform: translateX(-50vw);
    -moz-transform: translateX(-50vw);
    -ms-transform: translateX(-50vw);
    -o-transform: translateX(-50vw);
    transform: translateX(-50vw);
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.featured-articles {
    background: #f3f3f3;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    position: relative;
    display: inline-block;
}

.featured-articles:before {
    background: #f3f3f3;
    top: 0;
    right: 100%;
    bottom: 0;
    content: ' ';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}

.featured-articles:after {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 45px 0 0 45px;
    border-color: white white white #C8C9C7;
}

.half {
    width: calc(50% - 30px);
    float: left;
    display: inline-block;
    padding: 15px;
}

@media (max-width: 768px) {
    .half {
        width: calc(100% - 30px);
    }
}

.text-underline {
    text-decoration: underline;
}

hr.white-hr {
    border-color: white !important;
    border-width: 1px;
    border-top: 1px solid white !important;
    width: calc(100% - 30px);
}

ul {
    padding-left: 20px;
    margin: 0;
}

.did-you-know {
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
}

.did-you-know img {
    width: 185px;
    float: left;
}

.did-you-know .did-you-know-content {
    width: calc(100% - 185px);
    float: left;
}

.banner {
    width: 75%;
    padding: 25px;
    position: relative;
}

.bookmark {
    position: absolute;
    top: 0;
    right: 30px;
    height: 70px;
    padding: 0px;
    -webkit-transform: rotate(0deg) skew(0deg);
    transform: rotate(0deg) skew(0deg);
    border-left: 20px solid #00A9E0;
    border-right: 20px solid #00A9E0;
    border-bottom: 20px solid transparent;
}

.clearfix {
    display: inline-block;
}

.small {
    font-size: 75%;
}

.featured-articles a {
    position: relative;
    z-index: 2;
}

.featured-articles hr {
    margin: 0 !important;
}

.featured-articles a:before {
    z-index: -1;
    position: absolute;
    width: 0%;
    opacity: 0%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: " ";
    background: white;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.featured-articles a:hover:before {
    width: 100%;
    opacity: 100%;
}

a:hover {
    text-decoration: none;
}

ol {
    list-style: none;
    list-style-position: outside;
    counter-reset: my-awesome-counter;
}
ol li {
    list-style-position: outside;
    counter-increment: my-awesome-counter;
}
ol li::before {
    content: counter(my-awesome-counter) ;
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 20px;
    margin: 0px 0px 0px -24px;
}

